*{
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #FCEEC8;
}

.App {
font-family: sans-serif;

}
.contenedor{
  width:95% ;
  margin: auto;
  padding-top: 80px;
  display: flex;
}
.izq-contenedor, .dere-contenedor{
flex-basis: 70%;
}
.Card{
  width: 300px;
  background-color: #9EDEF9;
  border-radius: 10px;
  box-shadow: 0 5px 5px rgb(0,0,0,0.5);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.izq-contenedor{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
  grid-gap:60px;
}
nav {

display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;
justify-content: center;
background-color: blue;
height: 100px;
border: 10px solid yellow;
}

.nave-imagen {
  width: 160px;
}
.dere-contenedor{
  width: 50%;
  text-align: center;
  color: black;
  position: fixed;
  top: 100px;
  right: 10px;
}
.dere-contenedor img{
  margin: 1.5rem;
  height: 160px;
}
.dere-contenedor img{
  margin: 1.5rem;
  height: 160px;
}
.izq-contenedor h1{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
.Habilidades{
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.Habilidades .Grupo{
  background-color: #b74555;
  color: white;
  padding: 0.5rem;
  font-size: 12px;
  border-radius: 8px;
  margin-left: 1rem;
}
.Base-start{
  margin-top: 2rem;
}
